
/* ========== GLOBAL ==========*/

body, html {
  height: 100vh;
  background-color: #f2f2f2;
}


body {
  margin: 0;
  display: grid;
  grid-template-columns: 15% 70% auto;
  grid-template-rows: 10% 7% 75% auto;
  grid-template-areas:    
    "header header header"
    "subheader subheader subheader"
    "sidea main beside"
    "footer footer footer";
}
 
/* ========== START GRID ==========*/

header {
  grid-area: header;
  background-color: #ffffff;
}

#subheader {
  grid-area: subheader;
  background-color: #f2f2f2;
}

#sidea {
  grid-area: sidea;
  background-color: #f2f2f2
}

.main {
  width: 100%;
  border-radius: 15px 15px 15px 15px;
  grid-template-columns: auto auto auto;
  justify-content: space-evenly; 
  text-align: center;

}

#beside {
  grid-area: beside;
  background-color: #f2f2f2;

}

footer {
  grid-area: footer;
  margin-top: 4vh;
  background-color: white;
}

/* ========== END GRID ==========*/

/* ========== HEADER ==========*/

header {
  display:grid;
  align-items: center;
}

.logo {
  display: grid;
  background-color: white;
  font-family:'Yellowtail', cursive;
  font-size: 8vh;
  color: #00c3ea;
}

/* ========== END HEADER ==========*/

/* ========== Aside NAVBAR ==========*/
:root {
  /* font-size: 14px; */

  --text-primary: #ffffff;
  --text-secondary: #ececec;
  --bg-primary: #00c3ea;
  --bg-secondary: #cf9ee2;
  --transition-speed: 600ms; */
}

body {
  /* overflow-x: hidden; */
}

body::-webkit-scrollbar {
  /* width: 0.25rem; */
}

body::-webkit-scrollbar-track {
  /* background: #ffffff; */
}

body::-webkit-scrollbar-thumb {
  /* background: #00c3ea; */
}

#sidea {
/* height: 100%; */
font-family: 'Calibri';
background-color: var(--bg-primary);
transition: width 200ms ease;
border-radius: 0px 15px 15px 0px;
height: 75vh;
width: 4rem;
}

.navbar-nav {
list-style: none;
display: flex;
flex-direction: column;
align-items: center;
}

.nav-item {
  width: 100%;
}

.nav-link {
display: flex;
align-items: center;
height: 10vh;
color: var(--text-primary);
text-decoration: none;
transition: var(--transition-speed);
padding: 0rem 1rem 0rem 1rem;
}

.link-text {
margin-left: 10%;
opacity: 0;
transition: all .3s ease-out;
}

.nav-link:hover {
filter: grayscale(0%) opacity(1);
color: var(--text-secondary);
background: var(--bg-secondary);
border-radius: 0px 15px 15px 0px;
}

#sidea:hover {
  width: 10rem;
}

#sidea:hover .link-text {
  display: block;
  opacity: 1;
  transition: all .3s ease-in;
}

/* ========== Small Screen ========== */

/* @media only screen and (max-width: 1000px) {
  
body {
  margin: 0;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(auto, 4);
  grid-template-areas:    
    "header header header header header"
    "subheader subheader subheader subheader subheader"
    "sidea main Main Main Main beside"
    "footer footer footer footer footer";
}

#sidea {
  height: 8%;
  position: fixed;
  bottom: 0px;
  width: 100%;
  border-radius: 15px 15px 0px 0px;
}

.navbar-nav {
  flex-direction: row;
}

.nav-link {
  height: 8vh;
  justify-content: center;
}

.link-text {
  display: none;
}

#sidea:hover .link-text {
  display: none;
}

#sidea:hover {
  width: 100%;
} */

/* ========== Aside END NAVBAR ==========*/

/* ========== CARD SLIDE START ==========*/
.slider {
  /* position: relative; 
  overflow: hidden;
  height: 100vh;
  width: 100vw; */
}

.slide {
  /* position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.4s ease-in-out; */
}
/* 
.content {
  display: grid; 
  text-align: center;
  place-items: center;
  height: 100%;
}

.slide.current {
  opacity: 1;
}

.slide .content {
  position: abolute;
  bottom: 70px;
  left: 0px;
  width: 600px;
  background-color: #222;
} */


/* .slide:first-child {
  background: url('./fields.jpg ') no-repeat center center/cover;
  max-width: 70%;
  max-height: 75%;
} */

/* ========== CARD SLIDE END ==========*/

/* ========== START CARD ==========*/


.card {
  display: grid; 
  position: relative;
  height: 100%;
  text-align: center;
  place-items: center;
  transform-style: preserve-3d;
  transition: all 0.5s ease;
  font-size: 1.7vw;
  text-align: center;
  justify-items: center;
  font-family: calibri;
  line-height: 1.6;
  font-weight: bold;
  border-radius: 15px 15px 15px 15px;
  min-width: 40vw;
}

.card:hover {
  transform: rotateY(180deg);
}

.thefront {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 15px 15px 15px 15px;
  background: white;
  color: #00c3ea;
  font-size: 4vw;
  overflow: auto;
}

.theback {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 15px 15px 15px 15px;
  background: white;
  color: #00c3ea;
  transform: rotateY(180deg);
  font-size: 5vw;
  overflow: auto;
}

.definition {
  display: grid;
  height: 100%;
  place-items: center;
}

.word {
  display: grid;
  height: 100%;
  place-items: center;
}

.heart {
  position: absolute;
  width: 3vh;
  filter: invert(.3);
  top: 3vh;
  right: 2vw;
}

.heart:hover {
  filter: invert(0);
  transition: 200ms ease-in-out;
  }

.arrow-over {
  width: 4vh;
  position: absolute;
  transform: rotate(-20deg);
  top: 3vh;
  left: 2vw;
}

.arrow-under {
  width: 4vh;
  position: absolute;
  transform: rotate(160deg);
  bottom: 2vh;
  right: 2vw;
}

.yep-left {
  margin: auto;
}

.yep-right {
  margin: auto;
}

.chevron-left {
  transition: opacity 500ms ease-out;
}

.chevron-left:hover {
  opacity: 50%;
}

.chevron-right {
  float: right;
  transform: rotate(180deg);
  transition: opacity 500ms ease-out;
}

.chevron-right:hover {
  opacity: 50%;
}

@media all and (max-width: 1500px) {
  .chevron-right {
    width: 75%
  }

  .chevron-left {
    width: 75%;

  }

}

@media all and (max-width: 1000px) {
  .chevron-right {
    width: 40%
  }

  .chevron-left {
    width: 40%
  }

}

/* ========== END CARD ==========*/
















