/* ========== GLOBAL ==========*/

body, html {
  height: 100vh;
}

body {
  margin: 0;
  display: grid;
  grid-template-columns: 15% 23% 23% 23% auto;
  grid-template-rows: 10% 7% 25% 25% 25% auto;
  grid-gap: .5vw;
  grid-template-areas:
    "header header header header header"
    "subheader subheader subheader subheader subheader"
    "sidea sect1 sect2 sect3 beside"
    "sidea sect4 sect5 sect6 beside"
    "sidea sect7 sect8 sect9 beside"
    "footer footer footer footer footer";
}

/* ========== START GRID ==========*/

header {
  grid-area: header;
  background-color: #ffffff;
}

#subheader {
  position: relative;
  grid-area: subheader;
  background-color: #f2f2f2;
}

#sidea {
  grid-area: sidea;
}

#beside {
  grid-area: beside;
  background-color: #ffffff;

}

#first {
  grid-area: sect1;
  background-color: #ffffff;
  border-style: solid;
  border-color: red;
}

#second {
  grid-area: sect2;
  background-color: #ffffff;
}

#third {
  grid-area: sect3;
  background-color: #ffffff;
}

#fourth {
  grid-area: sect4;
  background-color: #ffffff;
}

#fifth {
  grid-area: sect5;
  background-color: #ffffff;
}

#sixth {
  grid-area: sect6;
  background-color: #ffffff;
}

#seventh {
  grid-area: sect7;
  background-color: #ffffff;
}

#eigth {
  grid-area: sect8;
  background-color: #ffffff;
}

#ninth {
  grid-area: sect9;
  background-color: #ffffff;
}

footer {
  grid-area: footer;
  background-color: #f2f2f2;
}

/* ========== END GRID ==========*/

/* ========== NAVBAR ==========*/

.logo {
  position: absolute;
  left: 2vh;
  top: 1vh;
  background-color: white;
  font-family:'Yellowtail', cursive;
  font-size: 8vh;
  color: #00c3ea;

}

/* ========== END NAVBAR ==========*/


/* ========== SEARCH BAR ==========*/

.searchbar {
  display: grid;
  /* place-items: center center; */
  grid-template-columns: 90% 10%;
  grid-template-rows: 3vh;
  height: auto;
  margin-left: 25vw;
  margin-right: 25vw;
  margin-top: 2vh;

}

.searchbar input {
  display: grid;
  position: relative;
  place-items: center center;
  border-style: none;
  border-radius: 15px 15px 15px 15px;
  width: 110%;
  z-index: 0;
}


.search-button {
  display: grid;
  position: relative;
  place-items: center center;
  font-family: calibri;
  background-color: #00c3ea;
  color: white;
  border-style: none;
  border-radius: 15px 15px 15px 15px;
  min-width: 50px;
  z-index: 1;
}


.search-button:hover {
  background-color: #cf9ee2;
}

.search:active {
  background-color: #cf9ee2;
  transform: translateX(1px);
}

/* ========== END SEARCHBAR ==========*/

/* ========== START CARD ==========*/

.maincontainer {
  position: relative;
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-evenly;
  justify-items: center;
  margin-top: 0;
  margin-bottom: 4%;
  margin-left: 1%;
  height: 100%;

}

.card {
  /* position: absolute; */
  width: 40%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 0.5s ease;
  background-color: white;
  color: #00c3ea;
  /* font-size: 1.7vw; */
  text-align: center;
  justify-items: center;
  font-family: calibri;
  line-height: 1.6;
  font-weight: bold;
  border-radius: 15px 15px 15px 15px;
  min-width: 22vw;
}


.card:hover {
  transform: rotateY(180deg);
}

.thefront {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 15px 15px 15px 15px;
  background: #f2f2f2;
  color: #00c3ea;
  font-size: 1.2vw;
}

.theback {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 15px 15px 15px 15px;
  background: #f2f2f2;
  color: #00c3ea;
  transform: rotateY(180deg);
  font-size: 2vw;
}

.definition {
  margin-top: 10vh;
  margin-bottom: 10vh;
  padding-left: 20px;
  padding-right: 20px;
}

.word {
  margin-top: 10vh;
  margin-bottom: 10vh;
  padding-left: 20px;
  padding-right: 20px;
}

.heart {
  position: absolute;
  width: 3vh;
  filter: invert(.3);
  top: 3vh;
  right: 2vw;
}

.heart:hover {
  filter: invert(0);
  transition: 200ms ease-in-out;
  }

.arrow-over {
  width: 4vh;
  position: absolute;
  transform: rotate(-20deg);
  top: 3vh;
  left: 2vw;
}

.arrow-under {
  width: 4vh;
  position: absolute;
  transform: rotate(160deg);
  bottom: 2vh;
  right: 2vw;
}

.yep-left {
  margin: auto;
  /* margin-right: 20vw; */
  /* margin-top: auto;
  margin-bottom: auto;
  padding-right: 25%; */

}

.yep-right {
  margin: auto;
  /* margin-left: 20vw; */
  /* margin-top: auto;
  margin-bottom: auto;
  padding-left: 30vw; */

}

.chevron-left {
  transition: opacity 500ms ease-out;
}

.chevron-left:hover {
  opacity: 50%;
}

.chevron-right {
  float: right;
  transform: rotate(180deg);
  transition: opacity 500ms ease-out;
}

.chevron-right:hover {
  opacity: 50%;
}

@media all and (max-width: 1500px) {
  .chevron-right {
    width: 75%
  }

  .chevron-left {
    width: 75%;

  }

}

@media all and (max-width: 1000px) {
  .chevron-right {
    width: 40%
  }

  .chevron-left {
    width: 40%
  }

}

/* ========== END CARD ==========*/
