<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Yellowtail&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../style/explore.css">
    <link rel="stylesheet" href="../style/custom.css">
    <title>Document</title>
</head>

<body>

    <nav class="navbar">
        <div class="logo">
            Willow
        </div>
    </nav>

    <div class="customContainer">
        <div class="customCard">
            <form action="#0">

                <div class="customWord">
                    <label>ScratchPad</label>
                    <input type="word" id="custom_word" name="custom_word" required placeholder="Lorem Ipsum">
                </div>
                <!-- <br> -->

                <div class="customDefinition">
                    <!-- <label>Definition</label> -->
                    <textarea type="definition" id="custom_definition" name="custom_definition" required placeholder="Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum."></textarea>
                </div>

                <input type="submit" id="custom_button" value="Create">
            </form>
        </div>
    </div>



</body>

</html>
