<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Yellowtail&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="../style/explore.css">
  <title>Index</title>
</head>
<body>
  <nav class="navbar">
    <div class="logo">
      Willow
    </div>
</div>
  </nav>

  <div class="container">

    <div class="yep-left"><img src="../style/chevron.png" alt="left-arrow" class="chevron-left"></div>
    
    <div class="card">
      <br>
      <img src="../style/arrow.svg" alt="Flip" class="arrow-over">
      <p><b>The naming of a thing or action by a vocal imitation of the sound associated with it (such as buzz, hiss)</b></p>
      <br><img src="../style/heart.svg" alt="Favorite" class="heart">
      <img src="../style/arrow.svg" alt="Flip" class="arrow-under">
    </div>
    
    <div class="yep-right"><img src="../style/chevron.png" alt="left-arrow" class="chevron-right"></div>

  </div>

  <div class="wrapper">
    <div class="capsule">
      <button class="nav">Search</button>
      <span class="dot"></span>
    </div>
    <div class="capsule">
      <button class="nav">Practice</button>
      <span class="dot"></span>
    </div>
    <div class="capsule">
      <button class="nav">Explore</button>
      <span class="dot"></span>
    </div>
    <div class="capsule">
      <button class="nav">Engage</button>
      <span class="dot"></span>
    </div>
  </div>



</div>













</body>
</html>